body{
    padding: 0;
    margin: 0;
    
}

#board {
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: red;
    position: absolute;
  
}