body{
    padding: 0;
    margin: 0;
    
}

#board {
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: red;
    position: absolute;
  
}

.enemy {
    background-color: rgb(110, 28, 110);
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: rgb(216, 197, 232);
}